.container-main{
    background-color: #45c6cf;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding: 0 7%;
}

.container-main ul{
    list-style: none;
    display: flex;
}

.container-main ul li{
    padding: 0 20px;
}

.container-main ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.container-main h1{
    font-family: Verdana, Geneva;
}
